<%= form_for([@winery, @tasting_room]) do |f| %>
  <% if @tasting_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tasting_room.errors.count, "error") %> prohibited this tasting_room from being saved:</h2>

      <ul>
      <% @tasting_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :tasting_fee %><br />
    <%= f.text_field :tasting_fee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
