<h1>tasting room</h1>
<div>for <%= @winery.name %></div>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tasting_room.name %>
</p>

<p>
  <b>Address:</b>
  <%= @tasting_room.address %>
</p>

<p>
  <b>City:</b>
  <%= @tasting_room.city %>
</p>

<p>
  <b>State:</b>
  <%= @tasting_room.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @tasting_room.zipcode %>
</p>


<%= link_to 'Edit', edit_winery_tasting_room_path(@winery, @tasting_room) %> |
<%= link_to 'Back', winery_tasting_rooms_path(@winery) %>
