<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @variety.name %>
</p>

<p>
  <b>Wine type:</b>
  <%= @variety.wine_type %>
</p>


<%= link_to 'Edit', edit_variety_path(@variety) %> |
<%= link_to 'Back', varieties_path %>
