<div id="container"> 
  <p id="notice"><%= notice %></p>
  <div class="info">
    <%= render 'form' %>
    <%= link_to 'Show', @prelaunch_signup %> |
    <%= link_to 'Back', prelaunch_signups_path %>
    <%= button_to '[delete]', @prelaunch_signup, :confirm => 'Are you sure?', :method => :delete %>
  </div><!-- End Info -->
</div><!-- container -->





