<div id="container">
  <div id="pitch">
    <div id="facts">
      <p>Over 1 million visitors come to the Central Coast annually to visit over 200 
         wineries in the Paso Robles, San Luis Obispo and Santa Maria Valley wine region.</p>
    </div>
    <div id="bpic"><%= image_tag "/images/barrel.png", :title => "barrel", :class => "barrel" %></div>
    <div id="questions">
      <p>How do you get those visitors to your tasting room?</p>
      <p>How do you get them to share their experience?</p>
      <p>How do you stay engaged so they keep buying wine and influencing others to buy your wine?</p>
    </div>
    <div class="call">
      <p>Join socialwino as a verified winery and use our socialwinemaker tools to:</p>
    </div>
    <div id="answer">
      <p>Manage all social media (facebook, twitter and yelp) in one place.</p>
      <p>Better communicate your unique message to people coming to this wine region.</p>
      <p>Identify the influencers of your wine sales and inspire them to keep talking about your wine.</p>
    </div>
    <div class="call">
      <p>Enter your email here and we'll keep you posted about our launch plans.</p>
    </div>
  </div>
  <div class="subscribe">
     <%= form_for(@prelaunch_signup, :html => { :id => "form-email" }) do |f| %>
     <% if @prelaunch_signup.errors.any? %>
     <div class="prelaunch-errors">
     <div class="ui-widget">
       <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
         <% @prelaunch_signup.errors.full_messages.each do |msg| %>
           <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
           <%= msg %>
           <br/>
         <% end %>
       </div>
     </div>
     </div>
     <% end %>
     <p>
      <%= f.text_field :email,:placeholder => "enter your e-mail address" %>
      <%= f.hidden_field :winery %>
      <%= f.submit "" %>
     </p>
     <% end %>
   </div><!-- End Subscribe -->
   <div id="lastly">
     <p>We will initially focus on Paso Robles, San Luis Obispo and Santa Maria Valley wine regions.</p>
     <p>If you would like to help us create this new app please contact us here: <a href="mailto:info@socialwino.com?subject=let's build socialwino together">email socialwino</a>.</p>
   </div>
</div><!-- End Container -->            
  