<%= form_for(@winery, :html => { :multipart => true }) do |f| %>
  <% if @winery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@winery.errors.count, "error") %> prohibited this winery from being saved:</h2>

      <ul>
      <% @winery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

	<div>
		<%= f.label :description %><br />
    <%= f.text_area :description %>
	</div>

	<div>
		<%= f.label :website_url %><br />
    <%= f.text_field :website_url %>
	</div>
	
	<div>
		<%= f.label :facebook_url %><br />
    <%= f.text_field :facebook_url %>
	</div>

	<div>
		<%= f.label :year_established %><br />
    <%= f.text_field :year_established %>
	</div>

	<div>
		<%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
	</div>
	
	<h2>twitter</h2>
  <% f.fields_for :twitter_feeds do |builder| %>
    <%= builder.label :screen_name %><br />
    <%= builder.text_field :screen_name %><br />
  <% end %>



	<div>
		<h2>logo</h2>
		<%= f.file_field :logo %>
	</div>
	
	<div>
		<h2>background image</h2>
		<%= f.file_field :background %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
