<%= form_for(@winery) do |f| %>
  <% if @winery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@winery.errors.count, "error") %> prohibited this winery from being saved:</h2>

      <ul>
      <% @winery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% f.fields_for :twitter_feeds do |builder| %>
    <%= builder.label :screen_name %><br />
    <%= builder.text_field :screen_name %><br />
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
