<h1>edit winery
<%= link_to "tasting rooms", winery_tasting_rooms_path(@winery) %>
<%= link_to "wines", winery_wines_path(@winery) %></h1>

<%= render 'form' %>

<%= link_to 'Show', @winery %> |
<%= link_to 'Back', wineries_path %>
