<h1>wineries</h1>

<table>
  <tr>
    <th>winery</th>
    <th></th>
    <th></th>
  </tr>

<% @wineries.each do |winery| %>
  <tr>
    <td><%= link_to winery.name, winery %></td>
    <td><%= link_to 'wines', winery_wines_path(winery) %></td>
    <td><%= link_to 'tasting rooms', winery_tasting_rooms_path(winery) %></td>
    <td><%= link_to 'edit winery info', edit_winery_path(winery) %></td>
    <td><%= link_to 'delete winery', winery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Winery', new_winery_path %>
