<p id="notice"><%= notice %></p>

<p><%= image_tag @winery.logo.url(:thumb) %></p>
<p><%= @winery.name %></p>
<div>
<% for twitter_feed in @winery.twitter_feeds %>
  <p>
    screen name: <%=h twitter_feed.screen_name %>
    <%= link_to image_tag("/images/twitter_connect.png"), twitter_authorize_path(twitter_feed.screen_name) %>
  </p>
  <p>
    auth token: <%=h twitter_feed.auth_token %>
  </p>
  <p>
    secret: <%=h twitter_feed.auth_secret %>
  </p>
<% end %>
</div>

<p><%= image_tag @winery.background.url(:thumb) %></p>

<%= link_to 'Edit', edit_winery_path(@winery) %> |
<%= link_to 'Back', wineries_path %>
