<p id="notice"><%= notice %></p>

<p><%= @winery.name %></p>
<ul>
<% for twitter_feed in @winery.twitter_feeds %>
  <li>
    s<%=h twitter_feed.screen_name %>
  </li>
  <li>
    t<%=h twitter_feed.auth_token %>
  </li>
  <li>
    s<%=h twitter_feed.auth_secret %>
  </li>
  <li>
    <td><%= link_to image_tag("/images/twitter_connect.png"), twitter_authorize_path(twitter_feed.screen_name) %></td>
  </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_winery_path(@winery) %> |
<%= link_to 'Back', wineries_path %>
