<%= form_for [@winery, @wine], :html => { :multipart => true } do |f| %>

  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :winery_id %><br />
    <%= f.text_field :winery_id %>
  </div> -->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "textfield" %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year, :class => "textfield" %>
  </div>
  <div class="field">
    <%= f.label :appelation %><br />
    <%= f.text_field :appelation, :class => "textfield" %>
  </div>

	<div id="w-varietals">
	<h2>varietal</h2>
  <% f.fields_for :wine_varietals do |builder| %>
    <%= builder.label :percentage %>
    <%= builder.text_field :percentage, :class => "textfield-small" %>
		<%= builder.collection_select(:varietal_id, Varietal.all, :id, :name, :prompt => "select varietal") %>
		<br/>
  <% end %>
	</div>
	
	<div>
		<h2>label</h2>
		<%= f.file_field :label %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
