<%= form_for [@winery, @wine], :html => { :multipart => true } do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :winery_id %><br />
    <%= f.text_field :winery_id %>
  </div> -->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.text_field :region_id %>
  </div>
  <div class="field">
    <%= f.label :variety_id %><br />
    <%= f.text_field :variety_id %>
  </div>

	<div>
		<p>label</p>
		<%= f.file_field :label %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
