
<%= render :partial => "shared/winery_link", :locals => { :winery => @winery } %>

<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @wine.year %>
</p>

<p>
  <b>Name:</b>
  <%= @wine.name %>
</p>
<p>
  <b>Appelation:</b>
  <%= @wine.appelation %>
</p>

<% @wine.wine_varietals.each do |wv| %>
	<%= wv.percentage %> % <%= wv.varietal.name %><br/>
<% end %>
<br/>
<%= link_to 'Edit', edit_winery_wine_path(@winery, @wine) %> |
<%= link_to 'Back', winery_wines_path(@winery) %>
