<!DOCTYPE html>
<html>
<head>
  <title>socialwino</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
  <%= javascript_include_tag :all, :cache => true %>
</head>
<body>

<%= yield %>

</body>
</html>
