<!DOCTYPE html>
<html>
<head>
  <title>socialwino</title>
  <%= stylesheet_link_tag 'socialwino', 'mint-choc/jquery-ui-1.8.2.custom.css', '960grid' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'rails.js', 'jquery/jquery-1.4.2.min.js', 'jquery/jquery-ui-1.8.2.custom.min.js' %>
	<%= hoptoad_javascript_notifier %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9553779-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="wrapper">
    <div id="header-shell" class="shell">
      <div id="header" class="inner">
        <a id="logo" href="/"></a>
        <ul id="user-bar">
         <% if current_user %>
            <li><%= link_to current_user.username, edit_user_path(current_user) %></li>
						<li><%= link_to "billboard", billboard_path %></li>
						<li><%= link_to "demo", billboard_demo_path %></li>
            <li><%= link_to "LOGOUT", destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to "SIGN UP", new_user_registration_path %></li>
            <li><%= link_to "SIGN IN", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="nav-shell" class="shell">
      <div id="nav" class="inner">
				<ul>
					<li><%= link_to "wineries", wineries_path %></li>
					<!-- <li><%= link_to "regions", regions_path %></li> -->
					<li><%= link_to "varietals", varietals_path %></li>
					<li><%= link_to "users", users_path %></li>
				</ul>
      </div>
    </div>
    <div id="subnav-shell" class="shell">
      <div id="subnav" class="inner">
      </div>
    </div>
    <div id="content-shell" class="shell">
      <div id="content" class="inner">
        <% flash.each do |key, msg| -%>
          <%= content_tag :p, msg, :id => key -%>
        <% end -%>
        <div id="content-col">
          <div id="content-panel">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-shell" class="shell">
      <div id="footer" class="inner"></div>
    </div>
  </div>
</body>
</html>
