<!DOCTYPE html>
<html>
<head>
  <title>socialwino</title>
  <%= stylesheet_link_tag 'socialwino', 'mint-choc/jquery-ui-1.8.2.custom.css', '960grid' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'rails.js', 'jquery/jquery-1.4.2.min.js', 'jquery/jquery-ui-1.8.2.custom.min.js', :cache => true %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9553779-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="wrapper">
    <div id="header-shell" class="shell">
      <div id="header" class="inner">
        <a id="logo" href="/"></a>
        <ul id="user-bar">
          <li>kristenhazard</li>
          <li>settings</li>
          <li>log out</li>
        </ul>
      </div>
    </div>
    <div id="nav-shell" class="shell">
      <div id="nav" class="inner">
      </div>
    </div>
    <div id="subnav-shell" class="shell">
      <div id="subnav" class="inner"></div>
    </div>
    <div id="content-shell" class="shell">
      <div id="content" class="inner">
        <% flash.each do |key, msg| -%>
          <%= content_tag :p, msg, :id => key -%>
        <% end -%>
        <div id="content-col">
          <div id="content-panel">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-shell" class="shell">
      <div id="footer" class="inner"></div>
    </div>
  </div>
</body>
</html>
