<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>app</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Ken">
	<%= stylesheet_link_tag "appcss/app.css" %>
	
	<link rel="stylesheet" href="css/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<%= javascript_include_tag 'jquery/jquery-1.4.2.min.js', 'app/jsoop.js','app/winetweets.js', 'app/main.js', 'app/tweets.js' %>
	<!-- 
	<script src="js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jsoop.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/winetweets.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/tweets.js" type="text/javascript" charset="utf-8"></script>
	
	-->
	<!-- Date: 2010-11-03 -->
</head>
<body>
  <div id='ipad'>
    
    <div id="tweet-scroller">
      <div>
        <div class="tweet"><img src="http://a2.twimg.com/profile_images/736650826/Denise_transmitted_normal.jpg"></img><p>RT @lovenordic: Hi I am just starting out on  twitter and need some followers! My blog is quite nice :)</p></div>
      </div>
    </div>
    <div id='bottle'>
      <%= image_tag('app/redwine.png', :size=>"1000x247") %>
      <%= image_tag('app/label.jpeg', :size=>"245x178", :id=>'label')%>
      <div id='label-overlay'></div>
    </div>
    
    <div id="glass">
      <%= image_tag('app/redwineglass.png', :size=>"270x630") %>
    </div>
    
    <div class="wine-menu">
         <h4>Now Pouring</h4>
          <div class='wine'>
            <h5><span>2008 </span>Pinot Noir</h5>
            <%= image_tag('app/redbottlesm.png', :size=>'50x200')%>
            <p>Cabernet Sauvignon is the name of both the grape and the wine it produces. Cabernet is known as one of the world's finest red wines, with its depth of complexity and richness of flavour. Other names for this grape and wine are Petit Cabernet, Petit Vidure and Vidure, and in Italy, Uva Francese.</p>
          </div>
          <div class='wine'>
            <h5><span>2007 </span>Zinfandel</h5>
            <%= image_tag('app/redbottlesm.png', :size=>'50x200')%>
            <p>Red Zinfandel is an "American Classic" wine. It was even originally thought to be made of native Californian grapes. Research has now shown that the zinfandel grape originated in Croatia, and then made famous in the early days of Italy and the Roman Empire. The original wine is now known as "primitivo". The original Croatian name for this grape is Crljenak. Zinfandel first came to California in the early 1800s.</p>
          </div>
          <div class='wine'>
            <h5><span>2009 </span>Viognier</h5>
            <%= image_tag('app/whitebottlesm.png', :size=>'50x200')%>
            <p>Viognier is a rare type of grape brought to Condrieu, on the northern Rhône, over 2,000 years ago by the Greeks or Romans. It was only planted in California a mere 20 years ago. It is now predominantly found in the Rhône valley and California. Viognier is extremely difficult to grow and therefore is only used by few vineyards.</p>
          </div>
       </div>
   
   
   <div id="new-tweet" class="tweet">
    
   </div>

  </div>
</body>
</html>

