<!DOCTYPE html>
<html>
<head>
  <title>socialwino</title>
  <%= stylesheet_link_tag 'landing-style', 'mint-choc/jquery-ui-1.8.2.custom.css', '960grid' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'rails.js', 'jquery/jquery-1.4.2.min.js', 'jquery/jquery-ui-1.8.2.custom.min.js' %>
	<%= hoptoad_javascript_notifier %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9553779-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

	<script type="text/javascript">
	  var _kmq = _kmq || [];
	  function _kms(u){
	    setTimeout(function(){
	      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
	      s.src = u; f.parentNode.insertBefore(s, f);
	    }, 1);
	  }
	  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/063423375b0e007f7479336abc9847ce8c9c0dd4.1.js');
	</script>
</head>
<body>
  <div id="wrap">
    <div id="main">
      <div id="header">
        <%= link_to image_tag("socialwino-logo.png", :border=>0), root_path %>
      </div><!-- End Header -->
      <div class="social">
                <ul>
                    <li><a class="facebook" href="http://www.facebook.com/socialwino">Facebook</a></li>
                    <li><a class="twit" href="http://twitter.com/socialwino">Twitter</a></li>
                </ul>                         
      </div><!-- End Social -->
      <div class="clear"></div>
      
      <%= yield %>

    </div><!-- End Main -->  
    <div class="clear"></div>
    <div id="footer">
           <div class="footerbg">
                  <div class="clear"></div>
                  <div class="copy">
                    <p>Brought to you with love by <a href="http://suntouchersoftware.com">Suntoucher LLC</a>. © 2010 Suntoucher LLC. All rights reserved.</p>
                  </div><!-- End Copy -->
          </div><!-- End Footerbg -->       
    </div><!-- End Footer -->
    </div><!-- End Wrap -->

</body>
</html>