<!DOCTYPE html>
<html>
<head>
  <title>socialwino</title>
  <%= stylesheet_link_tag 'landing-style', 'sunny/jquery-ui-1.8.2.custom.css', '960grid' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :all, :cache => true %>
  <%= javascript_include_tag 'cufon/cufon.js' %>
  <%= javascript_include_tag 'cufon/Delicious_500-Delicious_700-Delicious_italic_500-Delicious_italic_700.font.js' %>
  
  <script type="text/javascript">
  	Cufon.replace('p');  Cufon.replace('h3')
  </script>
</head>
<body>

<%= yield %>

<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>